<div>
    <h1> Word Count Result</h1>
    <div>
        <h3 class="growth">growth.cx</h3>
        <div class="result">
            <div class="word">
                <h1>Total word Count</h1>
                <h1 class="word__count">{{wordLength}}</h1>
            </div>
            <div>
                <h4>"WooHoo! You're doing a good job"</h4>
            </div>
        </div>
    </div>
    <div></div>

</div>
<style>
    .result {
        display: flex;
        padding: 15px;
    }

    .word__count {
        text-align: center;
        color: #5656f5;
        font-size: -webkit-xxx-large;
        margin-top: 0;
    }

    .growth {
        padding: 10px;
        background-color: #f0f1f1;

    }

    h4 {
        margin-left: 300px;
    }
</style>